<!DOCTYPE html>
<html>  
  {% include 'head.html' %}  
  <body>
    <div id="fitbit-login">
      <button id='fitbitBtn' type='button'>Login with Fitbit</button>
    </div>

    <div id="input-container">
      <h1>Set New Goal</h1>
      <input type='number' id='calInput' placeholder='Calories'>
      <input type='number' id='stepInput' placeholder='Steps'>
    </div>

    <div id="output-container">
      <h1>Current Goal</h1>
      <p id="calCur"></p>
      <p id="stepCur"></p>
    </div>

    <div id="devices">
      <h1>Active Devices</h1>
    </div>
  </body>
  <script src={{url_for('static', filename='script.js')}}></script>
</html>
